/*Full Page*/

.extra-width-page-three{
  height: 100vh;
  width: 100vw;
  background-color: gray;
}
.all-page-three{
  height: 100vh;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
}



/*about me title*/
.about-me-title{
  height: 150px;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 200;
  display: none;
}



/*about me info area*/
.about-me-info-area{
  height: 33vh;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  background-color: white;
  position: relative;
  z-index: 6;
}

.section-one-paragraph{
  height: 250px;
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}


.section-one-pic{
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one-p-one{
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  line-height: 30px;
}
.section-one-p-two{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
}

.section-one-circle-pic-container{
width: 250px;
height: 250px;
border-radius: 50%;
background-image: url("pics/about-me.PNG");
background-position: center;
background-size: cover;
}



/*about us info area*/
.about-us-info-area{
  height: 33vh;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  position: relative;
  z-index: 5;
}

.section-two-paragraph{
  height: 250px;
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.section-two-pic{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-two-p-one{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  line-height: 30px;
}
.section-two-p-two{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
}
.section-two-circle-pic-container{
width: 250px;
height: 250px;
border-radius: 50%;
background-image: url("pics/about-us.PNG");
background-position: center;
background-size: cover;
}


/*skills area*/
.skills-info-area{
  height: 33vh;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 100px;
  padding-left: 100px;
  background-color: white;
  position: relative;
  z-index: 5;
}

.section-three-paragraph{
  height: 250px;
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.section-three-pic{
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-three-p-one{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  line-height: 30px;
}
.section-three-p-two{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
}

/*nav area*/
.three-nav-container{
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 5;
  background-color: white;
}

.section-three-circle-pic-container{
width: 250px;
height: 250px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}



/*SLIDER*/

.slick-slider{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-one{
  width: 300px;
  height: 200px;
  background-image: url("pics/HTML5_1Color_Black.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-two{
  width: 150px;
  height: 200px;
  background-image: url("pics/css3 no text.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-three{
  width: 150px;
  height: 200px;
  background-image: url("pics/js last try.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-four{
  width: 150px;
  height: 200px;
  background-image: url("pics/jquery-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-five{
  width: 150px;
  height: 200px;
  background-image: url("pics/angular no text.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-six{
  width: 150px;
  height: 200px;
  background-image: url("pics/git color.png");
  background-size: contain;
  background-repeat: no-repeat;
}










/*Media Queries*/

@media only screen and (max-height: 950px) {

  .section-one-circle-pic-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("pics/about-me.PNG");
  background-position: center;
  background-size: cover;
  }

  .section-two-circle-pic-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("pics/about-us.PNG");
  background-position: center;
  background-size: cover;
  }

  .slick-slider{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*paragraph*/
  .section-one-p-one{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    line-height: 26px;
  }
  .section-one-p-two{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }

  .section-two-p-one{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    line-height: 26px;
  }
  .section-two-p-two{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }

  .section-three-p-one{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    line-height: 26px;
  }
  .section-three-p-two{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }

}



@media only screen and (max-width: 1150px) {
/*circle*/
  .section-one-circle-pic-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("pics/about-me.PNG");
  background-position: center;
  background-size: cover;
  }

  .section-two-circle-pic-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("pics/about-us.PNG");
  background-position: center;
  background-size: cover;
  }

  .slick-slider{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*paragraph*/
  .section-one-p-one{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    line-height: 26px;
  }
  .section-one-p-two{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }

  .section-two-p-one{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    line-height: 26px;
  }
  .section-two-p-two{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }

  .section-three-p-one{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    line-height: 26px;
  }
  .section-three-p-two{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }
}



@media only screen and (max-width: 1000px) {
/*circle*/
  .section-one-circle-pic-container{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-image: url("pics/about-me.PNG");
  background-position: center;
  background-size: cover;
  }

  .section-two-circle-pic-container{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-image: url("pics/about-us.PNG");
  background-position: center;
  background-size: cover;
  }

  .slick-slider{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*paragraph*/
  .section-one-p-one{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    line-height: 22px;
  }
  .section-one-p-two{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
  }

  .section-two-p-one{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    line-height: 22px;
  }
  .section-two-p-two{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
  }

  .section-three-p-one{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    line-height: 22px;
  }
  .section-three-p-two{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 850px) {
 /*circle*/
  .section-one-circle-pic-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("pics/about-me.PNG");
  background-position: center;
  background-size: cover;
  }

  .section-two-circle-pic-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("pics/about-us.PNG");
  background-position: center;
  background-size: cover;
  }

  .slick-slider{
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*paragraph*/
  .section-one-p-one{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    line-height: 18px;
  }
  .section-one-p-two{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
  }

  .section-two-p-one{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    line-height: 18px;
  }
  .section-two-p-two{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
  }

  .section-three-p-one{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    line-height: 18px;
  }
  .section-three-p-two{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
  }
}
