@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
/*color scheme*/
#CAEBF2
#A9A9A9
#FF3B3F
#EFEFEF
#FFCE00


/*SECTION-ONE HOME PAGE*/
.whole-section-one{
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: column;
}


/*nav logo*/
.first-section-div{
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  background-color: #A9A9A9;
  font-weight: 300;
  font-size: 25px;
  position: relative;
  z-index: 100;
  color: white;
}

.nav-logo-container{
  height: 35px;
  width: 760px;
  background-color: #A9A9A9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.nav-links-container{
  height: 35px;
  width: 470px;
  background-color: #A9A9A9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*text area*/
.second-section-div{
  width: 100%;
  height: 60vh;
  background-color: #CAEBF2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: relative;
}

.pic-circle-filter{
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(pics/skyscrapers.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*filter: grayscale(100%);*/
  opacity: 1;
  z-index: 1;
  position: relative;
}

.pic-circle-filter:after {
    content: "";
    display: block;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(202,235,242,1) 70%,rgba(202,235,242,1) 110%);
    border-radius: 50%;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.filter-cover{
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .7;
  background-color: #CAEBF2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.big-text-container{
height: 300px;
width: 500px;
font-weight: 500;
font-size: 80px;
display: flex;
justify-content: center;
align-items: center;
z-index: 20;
opacity: 1;
}

.sleek-span{
  font-weight: 200;
}

.modern-span{
font-weight: 200;
color: #FF3B3F;
}

/*triangle area*/
.third-section-div{
  width: 100%;
  height: 13vh;
  background-color: #CAEBF2;
  opacity: 1;
}


/*awesome font code*/
.awe-color{
  color: white;
}


/*Code for SVG Triangle*/
svg{
  fill: white;
  z-index: 90;
  position: relative;
}


/*Code for Buttons*/
.fourth-section-div{
  width: 100%;
  height: 24.25vh;
  font-weight: 200;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 90;
}

.circle-container-one{
  height: 120px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.circle-container-two{
  height: 120px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.circle-container-three{
  height: 120px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.circle-one{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF3B3F;
}

.circle-two{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF3B3F;
}

.circle-three{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF3B3F;
