/*color scheme
#CAEBF2
#A9A9A9
#FF3B3F
#EFEFEF
#FFCE00
*/


/*Main Page Layout*/
.section-two-page-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #CAEBF2;
}

.internet-and-description-container-one{
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.internet-page-container-one{
height: 100%;
width: 75vw;
display: flex;
justify-content: center;
align-items: center;
}

.internet-page-description-container-one{
height: 100%;
width: 50vw;
display: flex;
justify-content: center;
align-items: center;
}

.internet-and-description-container-two{
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.internet-page-container-two{
height: 100%;
width: 75vw;
}

.internet-page-description-container-two{
height: 100%;
width: 50vw;
display: flex;
justify-content: center;
align-items: center;
}


/*INTERNET BOX ONE*/

.internet-full-box-one{
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.internt-top-one{
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
  border-top: #A9A9A9 1px solid;
  border-left: #A9A9A9 1px solid;
  border-right: #A9A9A9 1px solid;
  border-radius: 8px 8px 0px 0px;
}

.button-web-container-one{
  height: 34px;
  width: 98%;
  display: flex;
  flex-direction: row;
  border-radius: 1px;
  color: #A9A9A9;
  font-weight: 200;
}
.internt-bottom-one{
  height: 100%;
  width: 100%;
  background-image:url("pics/apple-site-clone.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: #A9A9A9 solid 1px;
  border-radius: 0px 0px 8px 8px;
}

.internet-buttons-container-one{
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.web-address-container-one{
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: flex-start;
  border: #A9A9A9 solid 1px;
  border-radius: 5px;
  background-color: white;
}

.internet-button-one{
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #D75D56;
}

.internet-button-two{
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #EFBE40;
}

.internet-button-three{
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #79CE50;
}


/*INTERNET BOX TWO*/

#internet-pic-two{
background-image:url("pics/quencha-site-clone.png");
}

#internet-pic-three{
background-image:url("pics/flappy-clone.png");
}

#internet-pic-four{
background-image:url("pics/group-project.png");
}

#margin-for-arrow{
  margin-left: -17px;
}
/*DESCRIPTION BOX ONE*/

.discription-container-one{
height: 40%;
width: 347px;
display: flex;
flex-direction: column;
align-items: center;
}
.discription-title-one{
height: 50px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
}
.the-description{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 27px;
}
.project-link-one{
  height: 30%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  background: #A9A9A9;
}

/*description box two*/
#description-container-two{
  margin-top: -150px;
}
#link-part-two{
  color: white;
}


/*Navigation Area*/
.navigation-space{
  height: 145px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*right arrow*/
.project-right-arrow{
  height: 80px;
  width: 80px;
}

.arrow-right-holder{
  height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-right-text-holder{
  height: 20px;
  width: 80px;
  font-size: 14px;
  margin-bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/*left arrow*/
.project-left-arrow{
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-around;
  align-self: flex-end;
}
.arrow-left-top{
  height: 1px;
  width: 30px;
  background-color: #A9A9A9;
  -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg);
}
.arrow-left-bottom{
  height: 1px;
  width: 30px;
  background-color: #A9A9A9;
  -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
}
.project-arrow-text{
  font-size: 6px;
  margin-bottom: 13px;
}
